body{
    background-color: rgb(228, 143, 74);
    font-family:'Times New Roman', Times, serif;
}
.nav{ 
    position: fixed;
    background-color: rgb(168, 29, 29);
}
.nav ul{
    display: inline-block;
    list-style-type: none;
}
li{
   padding-top: 28px;
   padding-bottom: 29px;
    text-align: center;
}
.nav a{
    color: rgba(12, 2, 4, 0.89);
    text-decoration: none;
    font-size:  28px ;
}
.nav h1{
    color: rgba(12, 2, 4, 0.89);
    text-align: right;
    font-size:  28px ;
    text-decoration: underline double rgb(241, 172, 81);

}
.nav:hover{
    background-color: rgb(83, 151, 38);
  }

a:hover{
    text-shadow: 6px 6px 7px rgb(192, 192, 192);
    color: rgb(236, 231, 213);
}
.sample{
    background-image: url("1.jpg");
    background-size: cover;
    color: black;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-left: 250px;
}
.sample h1{
    text-align: center;
    font-size: 50px;
    color: rgb(28, 98, 155);
    text-shadow: 5px 6px 7px rgb(228, 220, 220);
}
.sample p{
    text-align: center;
    font-size: 19px;
    color: rgb(248, 248, 248);
    font-family: cursive;
}
.content{
    margin-left: 260px;
    
}
.content h1{
    font-size: 45px;
    text-align: center;
    text-decoration: underline double 3px black;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}
.content p{
    text-align: center;
    font-size: 25px;;
    color: rgb(43, 17, 2);
    font-family: cursive;
}
.nav.active{
    background-color: cornsilk;
}
.nav.active a{
    color: rgb(27, 24, 22);
} 
.nav.active:hover{
    background-color: rgb(83, 151, 38);
}
.nav.active a:hover{
    text-shadow: 6px 6px 7px rgb(192, 192, 192);
    color: rgb(236, 231, 213);
}